.colcard
{
  border: 1px solid gainsboro;
  border-radius: 3px;
  justify-content: space-evenly;
  height: 150%;
  text-align: center;

}

.columns{
  padding: 30px;
  margin: 19px;
  // height: 100%;
}
