<ion-content>
  <ion-card class="ion-text-center pose">
    <ion-button fill="clear" class="btntop"><ion-icon name="chevron-back-circle" width="100%" ></ion-icon></ion-button>
<img src="../../assets/iphone13pro.jpg" alt="iphone13pro" height="350px" width="80%" >

<!-- <ion-icon name="heart-circle" class="iconbtm"></ion-icon> -->

  </ion-card>

  <ion-card class="ion-padding">
    <span style="color: red;">AED 2,300</span><br>
    <span>Apple Iphone 13 Pro Max</span>
  </ion-card>
  <ion-card class="ion-padding">

      <b>Details</b><br>
      <ion-row>
        <ion-col>
<b>Accompaniments</b>
        </ion-col>
        <ion-col >
Box
        </ion-col><hr>
      </ion-row>
      <ion-row>
        <ion-col>
<b>Condition</b>
        </ion-col>
        <ion-col >
Pre Owned
        </ion-col><hr>
      </ion-row>
      <ion-row>
        <ion-col>
<b>Damages on Device</b>
        </ion-col>
        <ion-col >
No
        </ion-col><hr>
      </ion-row>
      <ion-row>
        <ion-col>
<b>Version</b>
        </ion-col>
        <ion-col >
US
        </ion-col><hr>
      </ion-row>
      <ion-row>
        <ion-col>
<b>Storage Capacity</b>
        </ion-col>
        <ion-col >
128GB        </ion-col><hr>
      </ion-row>
      <ion-row>
        <ion-col>
<b>Posted On</b>
        </ion-col>
        <ion-col >
October 11,2024
        </ion-col><hr>
      </ion-row>

      <h6 class="ion-text-center" style="color: red;">Show more details</h6>

  </ion-card>
  <ion-card class="text-red">
    <ion-button fill="clear" class="text-btn">Make an offer</ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <b>Description</b>
    </ion-card-header>
    <ion-card-content>
Ipnone 13 Pro Max 128GB <br>
Color : White <br>
Country : USA- Facetime installed <br>
Warranty : No

    </ion-card-content>
    <h6 class="ion-text-center" style="color: red;">Show full description</h6>

  </ion-card>
  <ion-card class="ion-padding" >
    <h4><b>Location</b></h4>
    <ion-icon name="location-sharp"></ion-icon>AI Reem Island, Abu Dhabi, UAE <br>
    <img src="../../assets/image.png" alt="loaction" class="imgsize" >
  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col size="auto">

<ion-icon name="person-circle-outline" style="font-size: 50px;" class="ion-padding"></ion-icon>
      </ion-col>
      <ion-col >

<p><span>Seller <br><b>abdalrahman alashaqar</b> <br></span><img src="../../assets/Group 69.png" alt="verified user" >
  </p>
<br>
      </ion-col>
<ion-col class="ion-padding" >
2 item live <br>
<br>
<span style="color: rgba(0, 0, 255, 0.68);">See more</span>
</ion-col>
    </ion-row>
    <ion-card class="text-red">
      <ion-button fill="clear" class="text-btn">Chat</ion-button>
    </ion-card>
  </ion-card>
</ion-content>
